/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');



h3{
    font-size: 1.7em;
 }
 .underline{
    border-bottom: 0.1em dotted #444;
}
.center{
    text-align: center;
}
.mini{
    font-size: 0.7em;
    opacity:0.7;
    padding:2em;
}
body {
    font-family: 'Poppins', sans-serif;
    color:#444;
    margin: 0;
    padding: 0;
   
}


.flavor-container {
    
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* gap: 1em; */

    align-content: center;
    justify-content: center;


}


.flavor-item {
    display: flex;
  justify-content: center;
  align-items: center;
    position: relative;

    text-align: center; 

    width: 25vw;
    height:25vw;
   
    overflow: hidden;
    
}


.flavor-item img {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    transition: 1s;
    /* -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
	transform: scale(1.15); */
    
}

.flavor-details {
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 1em;
    padding-top: 4em;
    text-align: right;
    transition: 1s;
    background-color: #44444455;
    color:white;
    box-sizing: border-box;
}

.flavor-name {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;

    transition: 0.4s;
}

.flavor-description {
    font-size: 1em;
    border-top: 0.05em solid;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,150%,0);
    opacity: 0;
}
.flavor-item:hover img{
    -webkit-transform: scale(1.15);
	transform: scale(1.15); 
}
.flavor-item:hover .flavor-description{
    opacity: 1;
    transition: 1s;
    padding-top: 1em;
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.flavor-item:hover .flavor-details{
    background-color: #44444499;
    padding-top: 5em;
    
}



.boba {
    /* position: relative;  */
    display: flex;
    align-items: center;
    overflow:visible;
    
    

}

.boba-desc{
    z-index: 3;
    width: 100%;
    height: 100%;
    /* background-color: #fff5; */
    color:#a3ccac;
    box-sizing: border-box;
    font-size: 2.5em;
    font-weight: bold;
    
    padding-top: 1.7em;

    /* position: absolute; */

}
.boba .b1{
    padding-left: 0.2em;
    padding-top: 3.3em;
    text-align: left;
}

.boba .b2{

    padding-right: 0.2em;
    text-align: right;
}

.boba img{
    z-index: 1;
    filter: brightness(0.7);
    animation: slideUpAndDown 10s ease-in-out infinite;

}

.bi2 img{
    animation-delay: 2s;
}

.bi1 .boba-desc{
    position: absolute;
    animation: changeColor 10s ease-in-out infinite;
}

.bi2 .boba-desc{
    position: absolute;
    animation: changeColor2 10s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes changeColor{
    0%, 10%, 90%, 100%{
        color: #e68aa3;
        transform: translateX(0); 
    }
    30%, 70%{
        color: #444;
        transform: translateX(20%); 
        
    }
}
@keyframes changeColor2{
    0%, 10%, 90%, 100%{
        color: #a3ccac;
        transform: translateX(0); 
    }
    30%, 70%{
        color: #444;
        transform: translateX(-20%); 
    }
}

@keyframes slideUpAndDown {
    0%, 10% {
        transform: translateY(0); 
        opacity: 1;
    }
    30% {
        transform: translateY(-100%); 
        opacity: 0;
    }
    70% {
        transform: translateY(100%); 
        opacity: 0;
    }
    90%, 100% {
        transform: translateY(0); 
        opacity: 1;
    }
}







main{
    box-sizing: border-box;
    padding: 2em 0;
    background-color: white;
}

button{
    font-size: 1em;
    padding:0.5em 3em;
    background-color: #444;
    color:white;
    border: 0.1em solid #444;
    border-radius: 0.3em;;
    transition: 0.3s ease;
    cursor: pointer;
    margin: 2em 0;
}
button:hover{
    background-color: white;
    color:#444;
}

header {
    background-color: #ddd;
    color: #444;
    padding: 1em;
    text-align: center;
}

header nav {
    margin:2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    /* margin: 0.7em 0; */
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover {
    cursor:pointer;
}

.title{
    text-align: center;
    font-size: 3em;
    font-weight:700;

}
.title a{
    color: #444;
}
.cart-icon {
    position: relative;
    display: inline-block;
    fill:#444;
    width:1.7em;
    height:1.7em;
}
#cart-count{
    position: absolute;
    padding:0.3em;
    top: -1em;
    right: -1em;
    background-color: #444;
    color: white;
    border-radius: 50%;
    width: 1.7em;
    height: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    font-weight: bold;
}

.dropdown .dropbtn {
    cursor: pointer;
    color: #444;
    /* padding: 1em; */
}

.dropbtn{
    width:1.7em;
    height:1.7em;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    font-size: 1em;
    color:#444;
    width: 20em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    left: 0;
}
.dropdown-content a {
    color: #444;
    padding: 1em 1.3em;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}



/* Order Page */

.menu {
    margin:2em;
    text-align: center;
    font-size: 1.7em;
}
.product-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:2em;
}

.product {
    width: 30em;
    border: 0.1em dotted #ddd;
    padding: 1em;
    text-align: center;
}

.product img {
    width: 6em;
    height: auto;
}

.product .quantity {
    width: 50px;
    margin: 10px 0;
}


.desc{
    font-weight:300;
    font-size: 0.7em;
}
.product .price{
    font-weight: 900;
    font-size:0.7em;
    
}

.flavor, .pearl, .kit{
    border: 0.1em dotted #ddd;
    padding: 1em;
}
.kit{
    display:none;
}

.choose-flav{
    display:none;
    margin-bottom:2em;
}
.choose-flav h4{
    margin-bottom:0;
}
/* .choose-flav label{ */
label{
    font-size:0.5em;
    /* margin:0.5em; */
    
}


.selected-flav {
    display: none;
    margin-bottom:2em;
}
.flavor-block {
    display: inline-block;
    margin: 1em;
    text-align: center;
    font-size: 0.7em;;
    
}
.flavors-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 2em;
}
.avail-flav{
    margin-bottom:0;
    text-align:center;
}


h6{
    margin-bottom: 0;
}


.popover {
 
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0,0.5);

    z-index: 1000;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none; 
}

.popover-content{
    position: fixed;
    top: 50%; /* Moves the top edge to the middle of the viewport */
    left: 50%; /* Moves the left edge to the middle of the viewport */
    
    transform: translate(-50%, -50%);
    background-color: #ddd;
    padding:2em;

}
.popover h3 {
    margin: 1em;

}






/* Cart Page */
.box{
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.checkout-container{
    width:60%;
    padding: 3em;
    box-sizing: border-box;
}


.cart-container{
    padding:1.7em;
    margin: 0 0 1em auto;
    width:30%;
    background:#ddd;
    box-sizing: border-box;
}

.amount{
    border-top: 0.1em dotted #444;
    margin:1em 0;
}
.money{
    opacity:0.7;
    float: right;
    font-size:0.7em;
    font-weight:bold;
}


.item{
    padding: 0.5em 0;
    border-bottom:0.1em solid #444;
}
.item p{
    margin:0;
    padding:0;
}
.cart-container .price{
    opacity:0.7;
    font-size: 0.7em;
    float:right;
    font-weight:bold;
}
.cart-container .quant{
    opacity:0.7;
    font-size: 0.7em;
    /* font-weight:bold; */
    padding-left:1em;
}
.flavors{
    
    opacity:0.7;
    font-size: 0.7em;
    /* float:right; */
}
.full{
    padding: 2em;
    font-size:0.7em;
    font-weight:300;
    text-align: center;
    display:none;
}


.order-form p{
    margin-top:1.5em;
    font-weight: 700;
}
.order-form .confirm-submit{
    font-size: 1em;
    display: block;
    margin-top:2em;
    padding: 1em; 
    width: 50%;
    float:right;
    background-color: #444;
    color:white;
    border: 0.1em solid #444;
    border-radius: 0.3em;
}

.order-form .form-contact{
    border: none;
    margin-bottom:2em;
}
.form-address input, .form-contact input{
    margin: 0.5em 0;
    width: 45%;
}
.form-address input[name="address-street"]{
    width:100%;
}
.order-form label{
    font-size: 0.7em;
    font-weight:700;
    opacity: 0.5;
}

.order-form svg{
    width:1.3em;
    height: 1.3em;
    fill: #444;
    vertical-align: sub;
}
.order-form .flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex :1 1;
    /* gap: 2em; */
}
.order-form input{

    border-radius: 0.3em;
    vertical-align: bottom;
    padding: 0.5em;

    border: 0.1em solid #ddd;
}
.order-form input:disabled::placeholder{
    color:#444;
}
.order-form input:focus{
    border: 0.1em solid orange;
    outline:none;
}


input.blurred:invalid {
    border-color: red;

}

select{
    min-width: 7em;
    padding:0.3em 1em;
    border: 0.1em solid #ddd;
    border-radius: 0.3em;
    background-color: transparent;
    font-size: 0.7em;
    color: #444;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    background-position: right 1em center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    appearance: none; /* Remove default styling */
    -webkit-appearance: none; /* Remove default styling in WebKit browsers */
    -moz-appearance: none; /* Remove default styling in Firefox */

}
select:focus{
    border-color: orange;
    outline:none;
}








textarea{
    padding:5em;
      border: 0.1em solid #ddd;
      border-radius: 0.3em;
      background-color: transparent;
      font-size: 0.7em;
      appearance: none; /* Remove default styling */
      -webkit-appearance: none; /* Remove default styling in WebKit browsers */
      -moz-appearance: none; /* Remove default styling in Firefox */
}


.cc{
    text-align:right;

}
.cancel{
    padding: 1em;
    cursor:pointer;
    font-size:0.5em;
    background:#ddd;
    border: none;
    outline:none;
    color:white;
    box-sizing: border-box;
    transition: 0.3s;
    margin:0;
    
}
.cancel:hover{
 
    background-color: white;
    color: #ddd;
}
.cancel svg{
    width:1em;
    height:1em;
    fill:white;
    vertical-align: bottom;
}
.cancel:hover svg{

    fill:#ddd;
}


.loading{
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vw;
    background: rgba(0,0,0,0.3);
    color: white;
    z-index: 99999;
    text-align: center;
    display: none;
}
.loading svg{
    width:10vw;
    height:10vw;
    fill: white;
    animation: rotate 2s ease-in-out infinite;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
    75%{
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.show {
    display: block;
}
@media screen and (max-width: 1000px) {
    .boba-desc{
        padding-left: 0;
        padding-right: 0;
        font-size: 1.7em;
    }
}

@media screen and (max-width: 600px) {
    .title{
        font-size: 5vw;
    }
    header{
        padding-left:0;
        padding-right: 0;
        /* font-size: 5vw; */
    }
    nav{
        margin:0.5em;
    }

    .flavor-container{
        grid-template-columns: auto auto;
        
    }
    .flavor-item{
        width: 50vw;
        height:50vw;
    }
    .flavor-details{
        padding-top: 2em;
    }
    .flavor-name{
        font-size: 1em;
    }
    .flavor-description{
        font-size: 0.7em;
    }
    .flavor-item:hover .flavor-details{
        padding-top: 2.5em;
        
    }
    .bi1{
        grid-area: 3 / 1;
    }
    .bi2{
        grid-area: 3 / 2;
    }
    .boba-desc{
        padding-left: 0;
        padding-right: 0;
        font-size: 5vw;
    }


    .dropdown-content{
        width: 100%;
        font-size: 1em;

    }
    .dropdown-content a{
        text-align:center;
    }
    .box{
        flex-direction: column;
    }
    .order-form .flex{
        gap:0;
    }
    .cart-container, .checkout-container{
        width:100%;
        margin: 0;
        padding: 1em;
    }
   

 
}
